html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 25px;
    font-weight: 300;
}

.layout__container {
    max-width: 1200px;
    padding: 0px 15px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-control[readonly] {
    cursor: default !important;
    opacity: 1 !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.has-error input, input.has-error {
    background-color: rgba(246, 226, 226, 0.68);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    padding-top: 30px;
    margin-left: -15px;
}

.footer .container {
    color: gray;
    font-size: small;
}

.shadow-z-1, .z-1 {
    z-index: 100;
}

.shadow-z-2, .z-2 {
    z-index: 200;
}

.shadow-z-3, .z-3 {
    z-index: 300;
}

.shadow-z-4, .z-4 {
    z-index: 400;
}

.shadow-z-5, .z-5 {
    z-index: 500;
}

.alertsHolder__alert.affix {

}